<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="style.css">
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>
<body>

  <div id="app">
    <header>
      <nav>
        <div class="likes">
          <i class="fa-solid fa-heart" v-if="this.numberOfLike == 0 "></i>
          <i class="fa-solid fa-heart liked" v-if="this.numberOfLike > 0"></i>
        </div>
        <div class="cart">
          <i class="fa-solid fa-cart-shopping" v-if="this.totalPrice == 0"></i>
          <i class="fa-solid fa-cart-shopping carted" v-if="this.totalPrice > 0"></i>
        </div>
      </nav>
    </header>
    <section>
      <div class="row">
        <div class="col-10">
          <div class="row">
            <div class="col-6" v-for="item in itemList">
              <product-card 
              :id="item.id"
              :price="item.price"
              :src="item.imgSrc"
              :like="item.like"
              :name="item.name"
              :number="item.number"
              @likeclicked="likeclicked"
              @buyclicked="buyclicked"
              ></product-card>
            </div>
          </div>
        </div>
        <div class="col-2 basket">
          <h3>Panier</h3>
          <div class="item" v-for="product in buyList">
            <div class="numberItems">
              <p>{{ itemList[product.id].name }}</p>
              <div class="btns">
                <span @click="decrease(product.id)">-</span>
                <span>{{ itemList[product.id].number }}</span>
                <span @click="increase(product.id)">+</span>
              </div>
            </div>
            <div class="numberItems">
              <p>{{ itemList[product.id].price * itemList[product.id].number }} €</p>
              <i class="fa-solid fa-trash" @click="removeItem(product.id)"></i>
            </div>
          </div>
          <h3>{{ totalPrice }} €</h3>
        </div>
      </div>
    </section>
  </div>
  
  <script type="module" src="script.js"></script>
</body>
</html>